body {
    padding-top: 50px;
    padding-bottom: 20px;
    }



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#chatHeader {
    text-align: center;
}

.jumbotron {
    background-image: url('grass-534873_960_720.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
#headline{
    font-family: 'Coiny', cursive;
    color:white;
}
#buggy{
    display:block;
    margin:auto;
}

#tweetIndex {
    text-align:center;
    font-size:26px;
}
