@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="headline">ChatterBugs</h1>
 
    
    
    <img src="~/Content/ladybug-gif-animation-2.gif" id="buggy"/>
</div>
<div id="tweetIndex">
    @Html.ActionLink("Tweets", "Create", "Messages")
</div>